html{
    height: 100%;
}

body{
    margin: 0;
    position: relative;
    height: 100%;
    color: #514743;
    font-family: Verdana;
}

h1, h2, h3, h4, h5, h6{
    /* display: inline-block; */
    margin-block-start: .5em;
    margin-block-end: .5em;
}

.btn{
    border: 0;
}

.btn-white{
    background-color: #fff;
    font-size: 20px;
}

.btn:focus{
    outline: none;
}

.header{
    height: 350px;
    /* background-color: green; */
    background-image: url(../image/image_02.jpg);
    background-size: cover;
    background-position: top;
    color: #fff;
    
}

.header .overlay{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .header-content{
    font: 600 30px normal;
    text-align: center;
    /* line-height: 350px; */
    z-index: 100;
}

.logo{
    font-family : fantasy, 'Osaka-Mono','Comic Sans MS',Courier, serif;
    font-size: 1.5em;
}

.nav{
    width: 100%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 5px 15px #9d9592;
}

.fixed{
    position: fixed;
    top: 0;
    
}

.nav .nav-bar{
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
    margin-block-start: .6em;
    margin-block-end: .6em;
    
}

.nav .nav-bar li{
    display: inline-block;
}

.nav .nav-bar a{
    display: inline-block;
    width: 100px;
    text-decoration: none;
    padding: 5px 10px;
    font: 400 18px normal;
    border-radius: 5px;
    color: #514743;
    /* color: #403834; */
    transition: all .3s ease;
}

.nav .nav-bar a:hover{
    background-color: #d5edf9;
}

.nav .nav-bar-hamburger{
    display: none;
}

.under-layer{
    width: 120px;
    height: 37px;
    background-color: red;
    position: absolute;
}

.container{
    text-align: center;
}

.content{
    width: 80%;
    display: inline-block;
    padding: 10px 20px 30px;
    /* background-color: #fff; */
    box-sizing: border-box;
    margin: 10px 0;
    /* text-align: left; */
    border-radius: 5px;
}

.content .title{
    text-align: center;
    font-size: 2em;
}

.footer{
    display: flex;
    height: 80px;
    width: 100%;
    /* text-align: center; */
    background-color: #2da8e5;
    color: #fff;
    justify-content: center;
    align-items: center;
}


.block-50{
    display: inherit;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 10px;
}

.card-block{
    display: flex;
}

.card{
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 20px;
    box-sizing: border-box;
    color: #514743;
}

.card img{
    border-radius: 5px;
    width: 100%;
}

.card-content{
    text-align: left;
}

#item-me, #item-works,
#item-skills,#item-contact{
    /* margin-top: -50px; */
    padding-top: 40px;
    padding-bottom: 20px;
}

/* about me */
#item-me{
    background-color: #f5f5f5;
    /* color: #fff; */
}

#item-me .content{
    /* background-color: #fff; */

}

#item-me img{
    border-radius: 50px;
}

/* works */
#item-works{
    background-color: #857b77;
    background-image: url(../image/cork02-p.jpg);
    background-size: 400px;
    color: #fff;

}
#item-works .content{
    /* background-color: #857b77; */
    background-color: rgba(0,0,0,0.3);
}

/* skills */
#item-skills{
    background-color: #f5f5f5;
}

#item-skills .content{
    /* color: #fff; */
}

#item-slills .card{
    background-color: #857b77;
}

/* contact */
#item-contact{
    background-image: url(../image/image_01.jpg);
    background-size: cover;
    background-position: top;
    color: #fff;
}

#item-contact .overlay{
    height: 100%;
    width: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

#item-contact .content{
    background-color: transparent;
}

.contact-set{
    display: inline-block;
    box-sizing: border-box;
    margin: 20px 20px;
    vertical-align: top;
    /* color: #fff; */
}

.contact-set .icon{
    margin: 0 10px 10px;
    color: #fff;
}

.contact-set .icon:hover{
    color: #2da8e5;
}
